
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section {
    margin: 40px 0;
}

.btn {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.payment-section img {
    width: 200px;
    height: 200px;
}

.blurred-sheet img {
    filter: blur(10px);
    width: 100%;
}

.preview img {
    margin-top: -50%;
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
